body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: black;
}

section {
    padding: 15px 0;
}

.container {
    height: 75px;
    padding-top: 14px;
}

.img-content {
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    float: left;
    position: relative;
}

    .img-content img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

.mask {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    opacity: 0.6;
    z-index: 1;
}

    .mask div {
        margin: 6px;
        background-color: black;
        opacity: 0.2;
        height: 38px;
    }

.break-all {
    clear: both;
    margin: 0;
    padding: 0;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 1.8em;
}

    .spinner-wrapper ins {
        text-decoration: none;
    }

.spinner {
    display: inline-block;
}

.spinner-medium {
    width: 32px;
    height: 32px;
    background: url(../Images/spinner-black.gif) 50% 50% no-repeat;
    margin: 0 12px;
}
