@model IEnumerable<string>

@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="spinner-wrapper"><span class="spinner spinner-medium"></span><ins></ins></div>
</section>

<script>

    function preLoadedImages() {
        var src = [];
        @{
            string[] src = Model.ToArray();

            for (int i = 0; i < Model.Count(); i++) {
                @:src[@i] = '@Html.Raw(src[i])';
                                     }
           }

        return src;
    }
</script>